.container{
    display: flex;
    padding: 30px 20px;
    align-items: flex-end;
    justify-content: center;
}
.column{
    width: 33.3333%;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 700;
    margin: 0 5px;
}
.short{
    width: 10%;
}