    /* .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    } */
    /* body {
        background-color: #fafafa;
      } */

    @keyframes taadaa {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .loader {
      height: 50px;
      width: 50px;
      margin: 50px auto 0;
      animation: taadaa 2s infinite;
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }