@import url(http://fonts.googleapis.com/earlyaccess/notosanshebrew.css);

input:focus {
  border-color: inherit;
  box-shadow: none;
}

input {
  width: 100%;
  outline: none;
  border-width: 0 0 0;
  background-color: rgb(var(--background-general));
  padding-bottom: 8px;
}

input:focus {
  border-color: #B1BEC5;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.bottomText {
  text-align: start;
  font-size: 12px;
  font-family: 'Noto Sans Hebrew';
  padding-top: 5px;
}

.errDiv {
  color: #D93025;
  font-size: 12px;
  font-family: var(--font-family);
}

.eyeSvg {
  cursor: pointer;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.he {
  float: left;
}

.en {
  float: right;
}

.visible {
  filter: drop-shadow(2px 4px 6px var(--color-primary))
}

.textAndArea {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #B1BEC5;
  align-items: center;
}
.password{
  align-items: flex-end;
}
html[dir="ltr"] .textAndArea{
  flex-direction: row-reverse;
}
html[dir="ltr"] .password{
  flex-direction: row;
}