 @font-face {
    font-family: 'gveretLevin';
    src: url("../../styles/fonts/gveretLevin.ttf") format('truetype');
  }
  
  @import url(http://fonts.googleapis.com/earlyaccess/notosanshebrew.css); 
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .logo {
    position: absolute;
    top: 14px;
    right: 14px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  .bgImage{
    background-image: url('../../public/assets/images/group.svg');
    background-size: cover;
  }
  .centeredLogin {
    text-align: start;
    -webkit-padding-end: 20%;
    padding-inline-start: 20%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 62vh;
    justify-content: space-around;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 250px;
    width: 250px;
    background-image: url('../../public/assets/images/circle.svg');
    background-size: contain;
    border: 1px solid rgb(var(--main-color));
    border-radius: 121px;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  
  .loginHeader {
    font-family: 'gveretLevin';
    color: var(--orange-basic);
  }
  
  .takanon {
    bottom: 24px;
    position: absolute;
    padding: 4px;
    font-size: 10px;
    white-space: normal;
    text-align: start;
    padding-inline-start: 20%;
    display: flex;
  }
  
  .bottomText {
    position: absolute;
    bottom: 6%;
    left: 14%;
    color: white;
    white-space: normal;
    text-align: center;
  }
  .loginErr{
    color:#D93025;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    margin-top: 10px;
  }