  .centeredLogin {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .loginHeader {
    font-family: 'gveretLevin';
    color: var(--color-secondary);
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .textField {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .loginErr {
    color: #D93025;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    margin-top: 10px;
  }