.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.answerContainer {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #B1BEC5;
    min-height: 20vh;
}

.footer {
    margin: 3rem 0;
}

.containerPartB {
    display: flex;
}