.divAll{
    gap: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: right;
    margin: 30px;
}
.temp{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.select{
    text-align: center;
}