.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding-normal) 0;
}

.header {
  flex: 0 0 auto;
  text-align: var(--start-direction);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.8rem;
  margin: 0 8rem;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .footer {
    margin: 1rem 1rem;
  }
}