.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.side {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  &__hero {
    height: 500px;
    width: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;
    background-image: url("../../../public/assets/images/groupCircle.png");
  }

  p {
    font-family: var(--font-family-levin);
    color: var(--color-secondary);
    font-size: 2rem;
    text-align: center;

  }
  @media (max-width: 970px) {
 display: none;
  }
}

.main {
  margin-right: 600px;
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-normal);
  @media (max-width: 970px) {
  width: 100%;
  margin: 0;
  }
}

.header {
  flex: 0 0 auto;
  text-align: var(--end-direction);
  padding-inline-end: 1rem;
}

.body {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.8rem;
}