.radioBtn{
    text-align: center;
}
.tableHeader{
    color: var(--color-secondary);
}
.thText{
    width: 3.5rem;
    display: -webkit-inline-box;
}
.thTextNot{
    width: 2rem;
    display: -webkit-inline-box;
}