@font-face {
    font-family: 'gveretLevin';
    src: url("../../../styles/fonts/gveretLevin.ttf") format('truetype');
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    width: 64%;
}

.right {
    right: 0;
    width: 36%;
}

.rightEn{
    right: 0;
    width: 64%;
}
.leftEn{
    left: 0;
    width: 36%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.logoLeft {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
}
.logoRight {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
}
.groupLogo {
    position: absolute;
    bottom: 0;
}
.rightText{
    position: absolute;
    bottom: 15%;
    right: 20%;
    font-family: 'gveretLevin';
    color: var(--color-secondary);
    font-size: 28px;
}
