.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.progress{
    display: flex;
    align-items: baseline;
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 0.8rem;
}