.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
    height: 40vh;
    justify-content: space-around;
}
.header {
    font-size: 28px;
    line-height: 39.2px;
    color: var(--color-secondary);
    text-align: center;
}

.text {
    text-decoration: underline;
    font-size: 16px;
    line-height: 22.4px;
    cursor: pointer;
    font-family: var(--font-family);
    text-align: center;
    color: black;
}
.termsCheckbox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.errDiv {
    color: #D93025;
    font-size: 12px;
    font-family: var(--font-family);
    /* margin-top: 10px; */
  }