.mainContainer {
    width: 100%;
    max-width: 600px;
    /* margin: 0 auto; */
    /* padding: 0 16px; */
 }
.mainContainerVertically{
    /* width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 600px;
    margin: 0px auto; */
    padding: 25px 25px;
}
.stepContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
    flex-direction: row-reverse;
}
.stepContainerVertically{
    display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  position: relative;
  height: 50vh;
}
.stepContainer::before {
    content: '';
    position: absolute;
    background: var(--color-primary-disabled);
    height: 4px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.stepContainer::after {
    content: '';
    position: absolute;
    background: var(--color-primary);
    height: 4px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.stepContainerVertically:before {
    content: "";
    position: absolute;
    background:var(--color-primary-disabled);
    height: 98%;
    width: 4px;
    top: 50%;
    transform: translate(0px, -50%);
  }
  .stepContainerVertically:after {
    content: '';
    position: absolute;
    background: var(--color-primary);
    height: 98%;
    width: 4px;
    top: 50%;
    transition: 0.4s ease;
    transform: translate(0px, -50%);
  }
  .stepWrapper {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
}

.stepStyle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid var(--color-primary-disabled);
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notCheck {
    width: 10px;
    height: 10px;
    left: 11px;
    top: 11px;
    border-radius: 50%;
    background: #5E9E99;
}
.completed {
    border: 3px solid var(--color-primary);
    border: 3px solid var(--color-primary);
    background-color: var(--color-primary);
}
.incompleted {
    border: 3px solid var(--color-primary-disabled);
}