html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


html,
body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin-bottom: var(--padding-normal);
}

/* global utils */
.container {
  max-width: var(--max-width);
  padding-inline-start: var(--padding-large);
  padding-inline-end: var(--padding-large);
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 970px) {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}

.question {
  width: 50%;
  margin-inline-end: 1rem;
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;

  @media (max-width: 970px) {
    width: 100%;
    display: flex;
    padding: 1rem 0 0rem 0;
  }
}

.answer {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem 1rem;
  border: 1px solid #B1BEC5;
  width: 32.5rem;

  @media (max-width: 970px) {
    width: 100%;
    display: inline;
    padding: 1rem 1rem;
    margin: 1rem 0;
  }
}

.answerContainer {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #B1BEC5;

  @media (max-width: 970px) {
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
  }
}

.divContainer {
  margin: 0 4rem;
  min-height: 55vh;

  @media (max-width: 970px) {
    margin: 0;
  }
}

.container-content {
  max-width: var(--max-width-small);
  margin-right: auto;
  margin-left: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.title {
  font-size: 1.6rem;
  color: var(--color-secondary);
  font-family: var(--font-family-kalam);

  &.large {
    font-size: 2.2rem;
  }
}

html[dir="rtl"] .title {
  font-family: var(--font-family-levin);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=radio] {
  accent-color: var(--color-primary);
  width: 1rem;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:focus {
  // outline: none;
}

table {
  width: 100%;
}

td {
  white-space: break-spaces;
}

th {
  font-size: 0.75rem;
  line-height: 1;

  @media (max-width: 600px) {
    font-size: 0.65rem;
  }
}

.errDiv {
  color: var(--color-error);
  margin-bottom: 10px;
}

.error {
  border-color: var(--color-error);
}