.container {
    margin: 0 8%;
    min-height: 55vh;
}

.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.questionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.answerContainer {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #B1BEC5;
    min-height: 20vh;
}

.footer {
    margin: 25px 8%;
    color: var(--color-secondary);
}

.stepper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 13px;
}

.radioBtn{
    text-align: center;
}
.aformalDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 970px) {
  .answerContainer { 
  flex-direction: column;
  width: 100%;
  }
  .stepper{
    width: 100%;
  } 
  .footer  { 
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}